.swiper-container {
    height: auto;
    /**/
}

.swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

.swiper-pagination {
    color: white;
}